html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    margin-bottom: 100px;
}
.container:first-child{
    margin-bottom: 0;
}

.bg-color{
    background-color: white !important;
}
#nav-bar{
    margin-top: 10px;
}
#nav-bar img{
    height: 60px;
}
.carousel-bg{
    background-image: url(images/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
button.buy-now-btn{
    border: none;
}
button.buy-now-btn a{
    background-color: #000000;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 8px;
   
}
.row{
    position: relative;
    z-index:1;
}
.top-section-bg{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 160px;
    height: 500px;

}
.p-height{
    line-height: 1.7rem;
}

.carousel-indicators li{
    padding: 0.0625rem 0rem;
    background-image:linear-gradient(to right,#FFB627, #FFD019);
}
.cat-name h6{
    color: #FF9D01;
}
.card-footer{
    background-color: #fff;
    border: none;
}
.cat-align{
    text-align: center;
    justify-content: center;
    border: none;
    
}
.cat-align img{
    width: 200px;
    
}
.cat-name{
    margin-bottom: 1.5625rem;
}
.card {
    padding: 20px;
}

.card{
    border: none;
    box-shadow: 10px 10px 40px #ddd;
    border-radius: 10px;
}
.cat-title{
    text-align: center;
    margin-bottom: 40px;
}
.title-line{
    background-image: linear-gradient(to right,#FFC41F,#FF9C35);
    height: 10px;
    width: 110px;
    border-radius: 5px;
}
.categories .row{
    align-items: center;
}
.shop-img img{
    width: 100%;
}
#bag img{
    box-shadow: 10px 10px 40px #ddd;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
}
.Pshoe img{
 box-shadow: 10px 10px 40px #ddd;
 border-top-left-radius: 15px;
 border-bottom-right-radius: 15px; 
 padding: 15px;  
 margin-top: 25px;
 margin-bottom: 25px;
 margin-left: 15px;
 margin-right:15px ;
 
 
}